*{
    flex-wrap: wrap;
    text-decoration: none;
    color: wheat;
}
body{
    background-color: #075988;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow: auto;

}

#login-to-signup, #signup-to-login{
    color:#098677;
}

/* images after signin or login*/
.after-signlogin-button{
    gap: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.after-signlogin-button h3{
    margin: 0;
}
.after-signlogin-button-img-container{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    color: #0E0986;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;

}
.after-signlogin-button-img-container div{
    margin: 5px;
    width: 300px;
}
.after-signlogin-button img{
    height: 250px;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
    margin: 0;
}
.after-signlogin-button img:hover{
    border: 0.1px outset #0E0986;
    color: white;
    cursor: pointer;
}


.all-container{
    display: flex;
    width: 100vw;
    height: 100%;

}
.otherthan-header{
    box-sizing: border-box;
    width: calc(100%-35px);
    margin-left: 35px;
}
/*Stripes Started*/
bottom-stripe,left-stripe,top-stripe{
    background-color:#098677;
}
.left-stripe{
    left: 0;
    width: 35px;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
}
.top-stripe,.bottom-stripe{
    width: 100vw;
    height: 40px;
    left: 35px;
    right: 0;
}
.top-stripe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

/*Stripes Ended*/
/*--Header Started*/
.head-header{
     text-align: center;
     margin: 0;
     font-size: 30px;
     width: 100%;
}
.header-container{
    position: sticky;
}
/*--Header Ended*/
.otherthan-header{
    margin-top: 10px;
}

/*--Login Page started*/
.login-page-container{
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px;
    width: 100%;

    text-align: center;
    padding: 20px;
    color:#0E0986 ;
}
.form-row{
margin-bottom: 0.5em;
}
label{
    margin: 5px 0px 0px;
    display: block;
}
button{
    background-color: #0E0986;
    color: white;
    border-radius: 15px;
    border: none;
    width: max-content;
    margin: inherit;
}
input{
    border: 1px solid #098677 ;
    border-radius: 5px;
    background-color: inherit;
    margin: 0px 0px 10px 0px;
    width: max-content;
    display: inline;
    padding: 3px;
}

/*--Login Page Ended*/

/*Signup Page Started*/
.signup-page-container{
    margin: auto;
    width: 50%;
}
/*Signup Page Ended*/
/*Main Page Started*/
.main-page-header{
    display: flex;
    align-items: center;
}
.nav-container ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    margin: 0;
    cursor: pointer;
    justify-content: space-between;

}
.nav-container li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.nav-list{
    width: 100%;
    justify-content: space-between;

}
.right-contents{
    width: 100vw;
    height: 100vh;
    margin-left: 25px
}

.nav-page-content{
    display: flex;
    flex-direction: column;
}
.profile-icon{
    width: 35px;
    height: 10%;
    margin-right: 50px;
    box-sizing: border-box;
    border-radius: 50%;
}
.main-page-content-headers{
    margin: auto;
    width: 50%;
}
/* Add your contacts*/
.add-contact-nav-content{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.add-contact-nav-content form{
    display: flex;
    flex-direction: column;
}
.add-contact-nav-content button{
margin-left: 5em;
}

/* Contact list*/
.contact-list-nav-content{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}
.contact-type-nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #0E0986;
    text-align: center;
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}

.contact-type-nav h6{
    margin: 0;
    text-align: center;
    padding: 0;
    cursor: pointer;
    color: white;
    font-style: italic;
    border-right: 3px groove #098677;
    border-bottom: 3px groove #098677;
}
.contact-type-nav h6:hover{
    border-radius: 15px;
    color: #098677;
    
}
.contact-info-container{
    border-radius: 15px;
    padding: 10px;
    border: 1px dashed #098677;
    flex-wrap: wrap;
    transition: ease-in 0.5s;
    max-width: max-content;
    word-wrap: break-word;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #098677;
    color: #DAEEFA;
}
.contact-info-container p{
    display: flex;
    margin: 0.2em;
}


/*Main Page Ended*/

/*Bottom Started*/
.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 0px;
    color: white;
    background-color: #0E0986;
}
.bottom-container a{
    color: white;

}
/*Bottom Ended*/


/* Quote*/
#quote-container {
    color: white; 
    text-align: center;
    font-size: 20px; 
    display: block;
    align-items: flex-start;
    background-color: #098677;
    padding: 3px;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    margin-left: 15px;
    font-weight: 200;
    padding: 10px;
    gap: 0;

}

#random-quote {
    margin: 0;
    font-style: italic;
    color: #DAEEFA;
    text-align: center;
    gap: 0;
    margin-left: 50px;
    font-size: medium;
    overflow-y: auto;
}

#quote-author {
   font-size: 12px;
    color: #DAEEFA;
    font-weight: 1000;
    font-weight: bolder;
}
#contact-type-input{
    border: 1px solid #098677 ;
    border-radius: 5px;
    background-color: inherit;
    margin: 0px 0px 10px 0px;
    width: 180px;
    display: inline;
    padding: 3px;
    text-align: center;
}
/* From JavaScript Classes*/
@media (max-width:760px) {
    body{
        display: flex;
    }

}












